<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/csye6225</property>
    <property name="hibernate.connection.password">root123</property>
   <property name="hibernate.connection.username">root</property>


    <!--create：如果没有该表则创建，如果有表就就删除后再创建-->
    <!--update：如果有有表映射文件没有添加新的记录就不用再创建了-->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
      <mapping class="DAO.UserDao"></mapping>
<!--    <mapping resource="/POJO/Register.hbm.xml"/>-->
      <mapping resource="/POJO/User.hbm.xml"/>
    <!--<mapping resource="com/Pojo/BooksEntity.hbm.xml"/>-->
  </session-factory>
</hibernate-configuration>
